In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
matches=pd.read_csv('matches.csv')
deliveries=pd.read_csv('deliveries.csv')

In [6]:
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [7]:
matches.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [8]:
matches.shape

(756, 18)

In [39]:
#matches['team1'].value_counts()

In [40]:
#matches['team2'].value_counts()

In [41]:
#matches['winner'].value_counts()

In [24]:
list1=['Mumbai Indians','Delhi Daredevils','Delhi Capitals']
matches.loc[((matches['team1'] =='Mumbai Indians') | (matches['team1'] =='Delhi Daredevils') | (matches['team1'] =='Delhi Capitals')) & ((matches['team2'] =='Mumbai Indians') | (matches['team2'] =='Delhi Daredevils') | (matches['team2'] =='Delhi Capitals'))]['winner'].value_counts()

Mumbai Indians      12
Delhi Daredevils    11
Delhi Capitals       1
Name: winner, dtype: int64

In [25]:
matches.loc[((matches['team1'] =='Mumbai Indians') | (matches['team1'] =='Delhi Daredevils') | (matches['team1'] =='Delhi Capitals')) & ((matches['team2'] =='Mumbai Indians') | (matches['team2'] =='Delhi Daredevils') | (matches['team2'] =='Delhi Capitals'))]['venue'].value_counts()

Feroz Shah Kotla                                       9
Wankhede Stadium                                       8
Buffalo Park                                           1
Dr DY Patil Sports Academy                             1
Brabourne Stadium                                      1
Sharjah Cricket Stadium                                1
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium    1
SuperSport Park                                        1
Feroz Shah Kotla Ground                                1
Name: venue, dtype: int64

In [29]:
matches.loc[((matches['team1'] =='Mumbai Indians') | (matches['team1'] =='Delhi Daredevils') | (matches['team1'] =='Delhi Capitals')) & ((matches['team2'] =='Mumbai Indians') | (matches['team2'] =='Delhi Daredevils') | (matches['team2'] =='Delhi Capitals'))]['toss_winner'].value_counts()

Delhi Daredevils    14
Mumbai Indians      10
Name: toss_winner, dtype: int64

In [30]:
matches.loc[((matches['team1'] =='Mumbai Indians') | (matches['team1'] =='Delhi Daredevils') | (matches['team1'] =='Delhi Capitals')) & ((matches['team2'] =='Mumbai Indians') | (matches['team2'] =='Delhi Daredevils') | (matches['team2'] =='Delhi Capitals'))]['toss_decision'].value_counts()

field    15
bat       9
Name: toss_decision, dtype: int64

In [37]:
matches.loc[((matches['team1'] =='Mumbai Indians') | (matches['team1'] =='Delhi Daredevils') | (matches['team1'] =='Delhi Capitals')) & ((matches['team2'] =='Mumbai Indians') | (matches['team2'] =='Delhi Daredevils') | (matches['team2'] =='Delhi Capitals'))].groupby('toss_winner')['winner'].value_counts()

toss_winner       winner
Delhi Daredevils  Mumbai Indians      9
                  Delhi Daredevils    5
Mumbai Indians    Delhi Daredevils    6
                  Mumbai Indians      3
                  Delhi Capitals      1
Name: winner, dtype: int64

In [38]:
matches.loc[((matches['team1'] =='Mumbai Indians') | (matches['team1'] =='Delhi Daredevils') | (matches['team1'] =='Delhi Capitals')) & ((matches['team2'] =='Mumbai Indians') | (matches['team2'] =='Delhi Daredevils') | (matches['team2'] =='Delhi Capitals'))].groupby('toss_decision')['winner'].value_counts()

toss_decision  winner
bat            Mumbai Indians      5
               Delhi Daredevils    4
field          Delhi Daredevils    7
               Mumbai Indians      7
               Delhi Capitals      1
Name: winner, dtype: int64

In [44]:
matches.loc[(matches['team1'] =='Mumbai Indians') | (matches['team2'] =='Mumbai Indians')]['winner'].value_counts()[0]/len(matches.loc[(matches['team1'] =='Mumbai Indians') | (matches['team2'] =='Mumbai Indians')])

0.5828877005347594

In [45]:
matches.loc[((matches['team1'] =='Delhi Daredevils') | (matches['team1'] =='Delhi Capitals')) | ((matches['team2'] =='Delhi Daredevils') | (matches['team2'] =='Delhi Capitals'))]['winner'].value_counts()[0]/len(matches.loc[((matches['team1'] =='Delhi Daredevils') | (matches['team1'] =='Delhi Capitals')) | ((matches['team2'] =='Delhi Daredevils') | (matches['team2'] =='Delhi Capitals'))])

0.3785310734463277

In [48]:
matches.loc[(matches['toss_winner'] =='Mumbai Indians') | (matches['toss_winner'] =='Mumbai Indians')]['toss_decision'].value_counts()

field    54
bat      44
Name: toss_decision, dtype: int64

In [50]:
54/(54+44)

0.5510204081632653

In [49]:
matches.loc[((matches['team1'] =='Delhi Daredevils') | (matches['team1'] =='Delhi Capitals')) | ((matches['team2'] =='Delhi Daredevils') | (matches['team2'] =='Delhi Capitals'))]['toss_decision'].value_counts()

field    106
bat       71
Name: toss_decision, dtype: int64

In [51]:
106/(106+71)

0.5988700564971752

In [64]:
matches.loc[((matches['team1'] =='Mumbai Indians') | (matches['team1'] =='Delhi Daredevils') | (matches['team1'] =='Delhi Capitals')) & ((matches['team2'] =='Mumbai Indians') | (matches['team2'] =='Delhi Daredevils') | (matches['team2'] =='Delhi Capitals')) & (matches['toss_winner']=='Mumbai Indians')]['toss_decision'].value_counts()

bat      6
field    4
Name: toss_decision, dtype: int64

In [65]:
matches.loc[((matches['team1'] =='Mumbai Indians') | (matches['team1'] =='Delhi Daredevils') | (matches['team1'] =='Delhi Capitals')) & ((matches['team2'] =='Mumbai Indians') | (matches['team2'] =='Delhi Daredevils') | (matches['team2'] =='Delhi Capitals')) & ((matches['toss_winner']=='Delhi Daredevils') | (matches['toss_winner']=='Delhi Capitals'))]['toss_decision'].value_counts()

field    11
bat       3
Name: toss_decision, dtype: int64

In [62]:
matches.loc[((matches['team1'] =='Mumbai Indians') | (matches['team1'] =='Delhi Daredevils') | (matches['team1'] =='Delhi Capitals')) & ((matches['team2'] =='Mumbai Indians') | (matches['team2'] =='Delhi Daredevils') | (matches['team2'] =='Delhi Capitals'))][['toss_winner','toss_decision']]

          toss_winner toss_decision
23   Delhi Daredevils         field
43   Delhi Daredevils         field
81   Delhi Daredevils         field
108  Delhi Daredevils         field
149    Mumbai Indians           bat
169  Delhi Daredevils         field
182  Delhi Daredevils         field
220    Mumbai Indians           bat
237  Delhi Daredevils           bat
281  Delhi Daredevils         field
326  Delhi Daredevils         field
341    Mumbai Indians         field
389    Mumbai Indians           bat
407    Mumbai Indians           bat
472    Mumbai Indians           bat
507  Delhi Daredevils         field
538    Mumbai Indians         field
555  Delhi Daredevils           bat
592    Mumbai Indians         field
622  Delhi Daredevils         field
644  Delhi Daredevils         field
690  Delhi Daredevils           bat
698    Mumbai Indians         field
729    Mumbai Indians           bat

In [66]:
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [67]:
deliveries.shape

(179078, 21)

In [71]:
deliveries['batsman'].value_counts()

V Kohli           4211
SK Raina          4044
RG Sharma         3816
S Dhawan          3776
G Gambhir         3524
                  ...
S Kaushik            1
U Kaul               1
DP Vijaykumar        1
V Pratap Singh       1
NJ Rimmington        1
Name: batsman, Length: 516, dtype: int64

In [75]:
len(deliveries[deliveries['batsman']=='RG Sharma'])

3816

In [76]:
deliveries.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [81]:
deliveries[deliveries['batsman']=='RG Sharma']['match_id'].nunique()

182

In [77]:
sum(deliveries[deliveries['batsman']=='RG Sharma']['total_runs'])

5057

In [82]:
sum(deliveries[deliveries['batsman']=='RG Sharma']['total_runs'])/deliveries[deliveries['batsman']=='RG Sharma']['match_id'].nunique()

27.785714285714285

In [83]:
deliveries['bowling_team'].value_counts()

Mumbai Indians                 22517
Royal Challengers Bangalore    21236
Kolkata Knight Riders          20940
Kings XI Punjab                20782
Chennai Super Kings            19556
Delhi Daredevils               18725
Rajasthan Royals               17382
Sunrisers Hyderabad            12779
Deccan Chargers                 9039
Pune Warriors                   5457
Gujarat Lions                   3545
Delhi Capitals                  1963
Rising Pune Supergiant          1928
Rising Pune Supergiants         1615
Kochi Tuskers Kerala            1614
Name: bowling_team, dtype: int64

In [84]:
sum(deliveries[(deliveries['batsman']=='RG Sharma') & ((deliveries['bowling_team']=='Delhi Daredevils') | (deliveries['bowling_team']=='Delhi Capitals'))]['total_runs'])

765

In [85]:
sum(deliveries[(deliveries['batsman']=='RG Sharma') & ((deliveries['bowling_team']=='Delhi Daredevils') | (deliveries['bowling_team']=='Delhi Capitals'))]['total_runs'])/deliveries[(deliveries['batsman']=='RG Sharma') & ((deliveries['bowling_team']=='Delhi Daredevils') | (deliveries['bowling_team']=='Delhi Capitals'))]['match_id'].nunique()

30.6

In [89]:
sum(deliveries[(deliveries['batsman']=='RG Sharma') & ((deliveries['bowling_team']=='Delhi Daredevils') | (deliveries['bowling_team']=='Delhi Capitals')) & (deliveries['inning']==1)]['total_runs'])/deliveries[(deliveries['batsman']=='RG Sharma') & ((deliveries['bowling_team']=='Delhi Daredevils') | (deliveries['bowling_team']=='Delhi Capitals')) & (deliveries['inning']==1)]['match_id'].nunique()

33.53333333333333

In [91]:
sum(deliveries[(deliveries['batsman']=='RG Sharma') & ((deliveries['bowling_team']=='Delhi Daredevils') | (deliveries['bowling_team']=='Delhi Capitals')) & (deliveries['inning']==2)]['total_runs'])/deliveries[(deliveries['batsman']=='RG Sharma') & ((deliveries['bowling_team']=='Delhi Daredevils') | (deliveries['bowling_team']=='Delhi Capitals')) & (deliveries['inning']==2)]['match_id'].nunique()

26.2

In [100]:
len(deliveries[(deliveries['bowler']=='K Rabada') & (pd.notna(deliveries['player_dismissed']))])

36

In [97]:
#deliveries[deliveries['bowler']=='K Rabada']

In [101]:
len(deliveries[(deliveries['bowler']=='K Rabada') & (pd.notna(deliveries['player_dismissed'])) & (deliveries['batting_team']=='Mumbai Indians')])

7

In [102]:
len(deliveries[(deliveries['bowler']=='K Rabada') & (pd.notna(deliveries['player_dismissed'])) & (deliveries['batting_team']=='Mumbai Indians')])/deliveries[(deliveries['bowler']=='K Rabada') & (pd.notna(deliveries['player_dismissed'])) & (deliveries['batting_team']=='Mumbai Indians')]['match_id'].nunique()

1.75

In [104]:
sum(deliveries[((deliveries['batting_team']=='Mumbai Indians') | (deliveries['batting_team']=='Delhi Daredevils') | (deliveries['batting_team']=='Delhi Capitals')) & ((deliveries['bowling_team']=='Mumbai Indians') | (deliveries['bowling_team']=='Delhi Daredevils') | (deliveries['bowling_team']=='Delhi Capitals'))]['wide_runs'])

227

In [106]:
sum(deliveries[((deliveries['batting_team']=='Mumbai Indians') | (deliveries['batting_team']=='Delhi Daredevils') | (deliveries['batting_team']=='Delhi Capitals')) & ((deliveries['bowling_team']=='Mumbai Indians') | (deliveries['bowling_team']=='Delhi Daredevils') | (deliveries['bowling_team']=='Delhi Capitals'))]['wide_runs'])/deliveries[((deliveries['batting_team']=='Mumbai Indians') | (deliveries['batting_team']=='Delhi Daredevils') | (deliveries['batting_team']=='Delhi Capitals')) & ((deliveries['bowling_team']=='Mumbai Indians') | (deliveries['bowling_team']=='Delhi Daredevils') | (deliveries['bowling_team']=='Delhi Capitals'))]['match_id'].nunique()

9.458333333333334